<launch>

<arg name="map_size_x" default="10.0"/>
<arg name="map_size_y" default="10.0"/>
<arg name="map_size_z" default=" 0.0"/>

<arg name="start_x" default=" 9.0"/>
<arg name="start_y" default=" 0.0"/>
<arg name="start_z" default=" 0.0"/>

  <node pkg="grid_path_searcher" type="demo_node" name="demo_node_1" output="screen" >
      <param name="planning/start_x" value="$(arg start_x)"/>
      <param name="planning/start_y" value="$(arg start_y)"/>
      <param name="planning/start_z" value="$(arg start_z)"/>
  </node>

  <node pkg="grid_path_searcher" type="demo_node" name="demo_node" output="screen" >
      <param name="planning/start_x" value="$(arg start_x)"/>
      <param name="planning/start_y" value="$(arg start_y)"/>
      <param name="planning/start_z" value="$(arg start_z)"/>
  </node>


  <node pkg ="grid_path_searcher" name ="random_complex" type ="random_complex" output = "screen"/>    
           
  <node pkg="waypoint_generator" name="waypoint_generator" type="waypoint_generator" output="screen"/>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find grid_path_searcher)/launch/rviz_config/grid.rviz"/> 

</launch>
